In [11]:
# Import dependencies 
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import yfinance as yfin
from pyramid import auto_arima

ImportError: cannot import name 'auto_arima' from 'pyramid' (/anaconda3/lib/python3.7/site-packages/pyramid/__init__.py)

In [9]:
def get_stock(array,start,end):
    df = yfin.download(array,start,end)
    df = df[['Adj Close']]
    df2 = df.xs('Adj Close',axis = 1, drop_level = True)
    return df2

In [6]:
df = yfin.download(['SBIN.NS','HDFCBANK.NS'],'2019-01-01','2019-01-10')

[*********************100%***********************]  2 of 2 downloaded

In [8]:
df2 = df[['Adj Close']]

In [10]:
array = ['SBIN.NS','HDFCBANK.NS','INFY.NS']
sd = '2019-01-01'
ed = '2019-01-30'

df = get_stock(array,sd,ed)
df.head(5)

[*********************100%***********************]  3 of 3 downloaded

            HDFCBANK.NS  INFY.NS  SBIN.NS
Date
2019-01-01      1056.07   655.79   299.60
2019-01-02      1046.43   659.73   293.90
2019-01-03      1038.22   659.83   291.10
2019-01-04      1041.00   651.84   297.65
2019-01-07      1042.57   662.34   296.30